// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// Basics
.hidden {display: none; }
.block-center { display: block; margin: 0 auto;}
.text-center { text-align: center;}

// Remove shadow from buttons
.button {box-shadow: none; transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s }

// Fonts


* {font-family: $font-regular; }
h1, h2, h3, h4, h5 {font-family: $font-semibold; }

.toolbar-content {text-align: center; }
.toolbar-content > img {height: 35px; margin: 1rem 0; }

.header-md::after {background-image: none; }

.availability {text-align: center; padding: 3rem; font-size: 2em; }
.availability .icon {font-size: 2em; }
.availability span {display: block; }

.green {background: #c5e0b5; color: #ffffff; }

.profile {display: block; border-radius: 999px; margin: 3em auto; width: 150px; height: 150px; border: 3px solid #ccc; }
.loginlogo {display: block; width: 200px; margin: 3em auto; }