<ion-content>
    <div padding>
        <ion-segment [(ngModel)]="alarmType">
            <ion-segment-button value="current">
                Aktive
            </ion-segment-button>
            <ion-segment-button value="archived">
                Avsluttede
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="alarmType">
        <ion-list *ngSwitchCase="'current'">
            <ion-item *ngFor="let mission of activeMissions">
                <ion-card (click)="pushMission(mission.id)">
                    <ion-fab right top>
                        <button ion-fab>
                            <ion-icon name="pin"></ion-icon>
                        </button>
                    </ion-fab>
                    <ion-item>
                        <ion-icon name="ios-map-outline" item-left large></ion-icon>
                        <h2>{{mission.title}}</h2>
                        <h3>{{mission.meetingPointNicename}}</h3>
                        <p>{{mission.description}}</p>
                    </ion-item>
                </ion-card>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'archived'">
            <ion-item *ngFor="let mission of inactiveMissions">
                <ion-card (click)="pushMission(mission.id)">
                    <ion-item>
                        <h2>{{mission.title}}</h2>
                        <h3>{{mission.meetingPointNicename}}</h3>
                        <p>{{mission.description}}</p>
                    </ion-item>

                    <button ion-button item-right icon-left (click)="showExpensePage(mission.id)">
                    <ion-icon name="ios-cash" ></ion-icon>
                    Registrer utlegg
                    
                </button>
                </ion-card>

            </ion-item>
        </ion-list>
    </div>
</ion-content>